.kifuforjs table.ban{
	margin-bottom: 0px;
	max-width: 345px;
}
.kifuforjs div.mochi div.mochimain{
	height:70px;
}
.kifuforjs div.players{
	width:100%;
}
.kifuforjs ul.inline input[name="tesuu"] {
	width:unset;
}
.kifuforjs > tbody > tr > td > div.mochi {
	height: 100%;
	width: 100%;
}
.kifuforjs > tbody > tr > td > div.mochi > div.mochimain{
	height: 70px;
}
.kifuforjs ul.inline.go button, .kifuforjs ul.inline.go input, .kifuforjs ul.inline.tools button{
	font-size: 16px;
	height: 27px;
	width: 50px;
	min-width: 25px;
	width: auto;
}
.kifuforjs ul.inline button{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
    border-radius: 5px;
}
.board{
	max-width:345px;
}
